body {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: $black;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: $darkgrey;
}

p {
  font-size: 1.3em
}
