@media all and (min-width: 426px) {
    .mh-pillar-button {
        flex-flow: row !important;
    }

    .mh-single-view {
        &__item {
            flex-flow: row !important;
            padding-left: 0 !important;
            border-left: none !important;
            align-items: flex-start !important;
        }

        &__header {
            text-align: right !important;
        }

        &__content {
            padding-top: 0;
            border-top: none;
            margin-left: 10px;
            padding-left: 10px;
            border-left: 2px solid #db5644;
        }
    }

    .mh-app-select-area {
        display: flex;
        flex-flow: wrap;
    }

    .mh-app-select-and-search {
        display: flex;
        flex-flow: wrap;
    }
}
