@media all and (min-width: 426px) {}

@media all and (min-width: 768px) {
    .mh-pillar-button {
        flex-flow: row !important;
        text-align: left !important;
    }

    .mh-pillars {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }

    .mh-single-view {
        &__item {
            flex-flow: row !important;
            padding-left: 0 !important;
            border-left: none !important;
            align-items: flex-start !important;
        }

        &__header {
            text-align: right !important;
        }

        &__content {
            padding-top: 0 !important;
            border-top: none !important;
            margin-left: 10px !important;
            padding-left: 10px !important;
            border-left: 2px solid #db5644 !important;
        }
    }

    .mh-app {
        &__main {
            display: flex;
        }

        &__select {
            width: 38.2vw;
            height: calc(100vh - 54px - 31px);
            overflow: scroll;
            border-right: 2px solid hsl(0, 0%, 80%);
        }

        &__single-view {
            position: fixed;
            right: 0;
            width: 61.8vw;
            height: calc(100vh - 54px - 31px);
            overflow: scroll;
        }
    }
}
